.mapheader {
	height:50px;
        background: url('../img/ua.png');
	background-size: 100% 100%;
    	background-repeat: no-repeat;
	}

        #map {
            height: 900px;
        }

        .nullphoto {
            height: 1px;
            width: 1px;
        }
.visible {
  visibility: visible;
  opacity: 1;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
/*@font-face {
  font-family: 'seeyourtravel';
  src: url('../content/traveldiaryfeb26.ttf');
} */
html, body, form {
    font-family: 'seeyourtravel', 'Georgia', serif;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.headerButton {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center; 
    margin: 2px;
    border-radius: 24px;
}
input, select, #map {
      font-family: 'seeyourtravel', 'Georgia', serif; 
}

/*@media all and (orientation:portrait) { 
    #imageDiv0 {
        z-index: 100; border-width: 2px; height: 90%; width: 30%; position: absolute; top: 50px; left: 68%; overflow-x: hidden; overflow-y: hidden;
    }
        .photo {
            width: 100%;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 1px;
            margin-left: 1px;
        }
}
@media all and (orientation:landscape) {*/
    #imageDiv0 {
        z-index: 100; border-width: 2px; width: 96%; height: 30%; position: absolute; left: 2%; top: 66%; overflow-x: hidden; overflow-y: hidden;
    }
        .photo {
            height: 100%;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 1px;
            margin-left: 1px;
        }
/*}*/