.mapheader {
	height:50px;
        background: url('../img/ua.png');
	background-size: 100% 100%;
    	background-repeat: no-repeat;
	}

        #map {
            height: 900px;
        }

        .photo {
/*            height: 200px;*/
/*            max-height: 100px;(*/
            height: 100%;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 1px;
            margin-left: 1px;
        }
        .nullphoto {
            height: 1px;
            width: 1px;
        }
.visible {
  visibility: visible;
  opacity: 1;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
/*@font-face {
  font-family: 'seeyourtravel';
  src: url('../content/traveldiaryfeb26.ttf');
} */
html, body, form {
      font-family: 'seeyourtravel', 'Georgia', serif; 
      height:100%;
      width:100%;
      padding:0px;
      margin:0px;
}

input, select, #map {
      font-family: 'seeyourtravel', 'Georgia', serif; 
}
