.mapheader {
	height:50px;
        background: url('../img/ua.png');
	background-size: 100% 100%;
    	background-repeat: no-repeat;
	}

        /*#map {
            height: 900px;
        }*/

        .nullphoto {
            height: 1px;
            width: 1px;
        }
.visible {
  visibility: visible;
  opacity: 1;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
html, body, form {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.headerButton {
    width: 240px;
    height: 36px;
    background-color: rgba(100,100,100,0.8);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left; 
    background-position-x: 10px;
    margin: 2px;
    border-radius: 12px;
    border-width: 0;
    padding-left: 50px;
    text-align: left;
    color:rgba(255,255,255,0.9)
}
input, select, #map, .headerButton, html, body, form {
      font-family: 'seeyourtravel', 'Georgia', serif; 
}

#wrapper #lblCoord {
position:relative;
top:0px;
left:0px;
visibility:hidden;
}

#wrapper:hover #lblCoord {
visibility:visible;
}

.graySelect {
    background: rgba(100,100,100,0.8);
    color:rgba(255,255,255,0.9);
    border-radius: 12px;
}

.graySelect option {
    background: rgba(100,100,100,0.8);
    color:rgba(255,255,255,0.9);
    border-radius: 12px;
}

.graySelect option:nth-child(odd) {
    background: rgba(100,100,100,0.6);
}

.graySelect option:nth-child(even) {
    background: rgba(100,100,100,0.8);
}

p.big {
    line-height: 150%; padding:0px; margin:0px;
}

button.headerButton:disabled
{
    background-color: rgba(150,150,150,0.8);
    color:rgba(255,255,255,0.6)
}

/*@media all and (orientation:portrait) { 
    #imageDiv0 {
        z-index: 100; border-width: 2px; height: 90%; width: 30%; position: absolute; top: 50px; left: 68%; overflow-x: hidden; overflow-y: hidden;
    }
        .photo {
            width: 100%;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 1px;
            margin-left: 1px;
        }
}
@media all and (orientation:landscape) {*/
    #imageDiv0 {
        background: rgba(100,100,100,0.2); border-width: 0px; margin: 0 auto; z-index: 100; border-width: 2px; width: 96%; height: 30%; position: absolute; left: 2%; bottom: 30px; overflow-x: hidden; overflow-y: hidden;
    }
    #imageDiv0 .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #imageDiv0 ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #imageDiv0 li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }


        .photo {
            /*height: 100%;*/
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            margin-left: 0px;
        }
/*}*/