USE [master]
GO
/****** Object:  Database [seeyourtravel]    Script Date: 9/16/2016 6:56:38 PM ******/
CREATE DATABASE [seeyourtravel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'seeyourtravel', FILENAME = N'E:\_SQLSERVERDATA\MSSQL11\seeyourtravel.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'seeyourtravel_log', FILENAME = N'E:\_SQLSERVERDATA\MSSQL11\seeyourtravel_log.ldf' , SIZE = 3904KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [seeyourtravel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [seeyourtravel]
GO
USE [seeyourtravel]
GO
/****** Object:  User [SeeYourTravel]    Script Date: 9/16/2016 6:56:39 PM ******/
CREATE USER [SeeYourTravel] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SeeYourTravel]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [SeeYourTravel]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SeeYourTravel]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SeeYourTravel]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SeeYourTravel]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[Lat] [float] NULL,
	[Lng] [float] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageUser]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageUser](
	[ImageUserID] [uniqueidentifier] NOT NULL,
	[ImageID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ImageUser] PRIMARY KEY CLUSTERED 
(
	[ImageUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[FacebookId] [nvarchar](100) NULL,
	[Disabled] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[GetUserImages]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetUserImages] 
(	
	@UserID uniqueidentifier 
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT t.ImageID, t.FileName, t.IsPublic, t.Description, t.Lat, t.Lng, t.Created, u.UserID as UserID from Image t 
	left join ImageUser tu on t.ImageID = tu.ImageID 
	left join [User] u on tu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
	WHERE tu.UserID = @UserID OR (@UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID))
)


GO
/****** Object:  Table [dbo].[UserLocation]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLocation](
	[UserLocationID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Lat] [float] NOT NULL,
	[Lng] [float] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_UserLocation] PRIMARY KEY CLUSTERED 
(
	[UserLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[GetAllRoughUserLocations]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetAllRoughUserLocations]
AS
SELECT        u.UserID AS userid, u.UserName AS username, ROUND(ul.Lat, 2, 0) AS lat, ROUND(ul.Lng, 2, 0) AS lng, MAX(ul.Time) AS Expr1
FROM            dbo.UserLocation AS ul INNER JOIN
                         dbo.[User] AS u ON ul.UserID = u.UserID
GROUP BY u.UserID, u.UserName, ROUND(ul.Lat, 2, 0), ROUND(ul.Lng, 2, 0)

GO
/****** Object:  UserDefinedFunction [dbo].[GetUserAndPublicImagesByLocation]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetUserAndPublicImagesByLocation] 
(	
	@UserID uniqueidentifier, 
	@MinLat float, 
	@MinLng float, 
	@MaxLat float, 
	@MaxLng float,
	@From int=0,
	@To int=0
)
RETURNS TABLE 
AS
RETURN 
(
-- TODO: From and To are ignored now
	SELECT TOP (@To-@From) t.ImageID, t.FileName, t.IsPublic, t.Description, t.Lat, t.Lng, u.UserID as UserID from Image t 
	left join ImageUser tu on t.ImageID = tu.ImageID 
	left join [User] u on tu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
	WHERE 
		(t.IsPublic=1 
		OR tu.UserID = @UserID 
		OR @UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' 
		OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID))
		AND 
		(Lat>=@MinLat AND Lng>=@MinLng AND Lat<=@MaxLat AND Lng<=@MaxLng)
)


GO
/****** Object:  Table [dbo].[Place]    Script Date: 9/16/2016 6:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[PlaceID] [uniqueidentifier] NOT NULL,
	[Lat] [float] NOT NULL,
	[Lng] [float] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Vicinity] [nvarchar](max) NOT NULL,
	[Rating] [float] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlaceUser]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceUser](
	[PlaceUserID] [uniqueidentifier] NOT NULL,
	[PlaceID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PlaceUser] PRIMARY KEY CLUSTERED 
(
	[PlaceUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlaceType]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceType](
	[PlaceTypeID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_PlaceType] PRIMARY KEY CLUSTERED 
(
	[PlaceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlaceTypePlace]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceTypePlace](
	[PlaceTypePlaceID] [uniqueidentifier] NOT NULL,
	[PlaceTypeID] [uniqueidentifier] NOT NULL,
	[PlaceID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PlaceTypePlace] PRIMARY KEY CLUSTERED 
(
	[PlaceTypePlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[GetUserAndPublicPlacesByLocation]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetUserAndPublicPlacesByLocation] 
(	
	@UserID uniqueidentifier, 
	@Types nvarchar(MAX),
	@MinLat float, 
	@MinLng float, 
	@MaxLat float, 
	@MaxLng float,
	@From int=0,
	@To int=0
)
RETURNS TABLE 
AS
RETURN 
(
-- TODO: From and To are ignored now
	SELECT TOP (@To-@From) t.PlaceID, t.Name, t.IsPublic, t.Lat, t.Lng, t.Rating, t.Vicinity, pt.Name as PlaceTypeName, u.UserID as UserID from Place t 
	left join PlaceTypePlace ptp on t.PlaceID = ptp.PlaceID 
	left join PlaceType pt on ptp.PlaceTypeID = pt.PlaceTypeID
	left join PlaceUser pu on t.PlaceID = pu.PlaceID 
	left join [User] u on pu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
	WHERE 
		(t.IsPublic=1 
		OR pu.UserID = @UserID 
		OR @UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' 
		OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID))
		AND 
		(Lat>=@MinLat AND Lng>=@MinLng AND Lat<=@MaxLat AND Lng<=@MaxLng)
)



GO
/****** Object:  UserDefinedFunction [dbo].[GetUserPlaces]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetUserPlaces] 
(	
	@UserID uniqueidentifier 
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT t.PlaceID, t.Rating, t.Vicinity, t.IsPublic, t.Name, t.Lat, t.Lng, t.Created, u.UserID as UserID from Place t 
	left join PlaceUser tu on t.PlaceID = tu.PlaceID 
	left join [User] u on tu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
	WHERE tu.UserID = @UserID OR (@UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID))
)


GO
/****** Object:  Table [dbo].[TrackLocalization]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackLocalization](
	[TrackLocalizationID] [uniqueidentifier] NOT NULL,
	[TrackID] [uniqueidentifier] NOT NULL,
	[Locale] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TrackLocalization] PRIMARY KEY CLUSTERED 
(
	[TrackLocalizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Track]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[TrackID] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[TrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrackUser]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackUser](
	[TrackUserID] [uniqueidentifier] NOT NULL,
	[TrackID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TrackUser] PRIMARY KEY CLUSTERED 
(
	[TrackUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[GetUserandPublicTracks]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUserandPublicTracks] 
(	
	@UserID uniqueidentifier,
	@Locale nvarchar(100) = ''
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DISTINCT t.TrackID, t.IsPublic, t.Category, IIF(tl.Description is NULL,t.Description,tl.Description) as [Description], t.FileName, t.ImageUrl, t.Location from track t 
	left join TrackUser tu on t.TrackID = tu.TrackID 
	left join [User] u on tu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
	left join [TrackLocalization] tl on t.TrackID = tl.TrackID AND tl.Locale = @Locale
	WHERE t.IsPublic = 1 
	OR 
	(@UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID))
	OR
	tu.UserID = @UserID
)


GO
/****** Object:  UserDefinedFunction [dbo].[GetTrackForUserByIdOrName]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetTrackForUserByIdOrName] 
(	
	@UserID uniqueidentifier,
	@TrackId uniqueidentifier = NULL,
	@Name nvarchar(250) = NULL
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT TOP 1 
	t.[TrackID]
      ,t.[FileName]
      ,t.[IsPublic]
      ,t.[Description]
      ,t.[Category]
      ,t.[ImageUrl]
      ,t.[Created]
      ,t.[CreatedBy]
      ,t.[Location]
	from track t 
	left join TrackUser tu on t.TrackID = tu.TrackID
	left join [User] u on tu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
	WHERE (t.TrackID = @TrackId or t.FileName = @Name) 
	AND 
	(( @UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID))
		OR t.IsPublic = 1 OR tu.UserID = @UserID)
)

GO
/****** Object:  UserDefinedFunction [dbo].[GetUserTracks]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUserTracks] 
(	
	@UserID uniqueidentifier 
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT t.TrackID, t.FileName, t.IsPublic, t.Description, t.Category, t.Location ,u.UserID as UserID from track t 
	left join TrackUser tu on t.TrackID = tu.TrackID 
	left join [User] u on tu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
	WHERE tu.UserID = @UserID OR (@UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID))
)

GO
/****** Object:  UserDefinedFunction [dbo].[GetAllTracks]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetAllTracks] 
(	
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DISTINCT 
		t.[TrackID]
      ,t.[FileName]
      ,t.[IsPublic]
      ,t.[Description]
      ,t.[Category]
      ,t.[ImageUrl]
      ,t.[Created]
      ,t.[CreatedBy]
      ,t.[Location]
	   from track t 
	left join TrackUser tu on t.TrackID = tu.TrackID 
	left join [User] u on tu.UserID = u.UserID
	left join [UserRole] ur on u.UserID = ur.UserID
	left join [Role] r on ur.RoleID = r.RoleID
)

GO
/****** Object:  UserDefinedFunction [dbo].[IsAdmin]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsAdmin] 
(
	@UserID uniqueidentifier
)
RETURNS table
AS
RETURN
	SELECT 
IIF(@UserID = 'c9f148f7-923a-46b0-8b7c-bd4b54d90886' OR EXISTS(SELECT UserRoleID from UserRole WHERE RoleID = '5195a2d5-0b51-44c4-b672-7383482bc77a' and UserID=@UserID),1,0)
	AS Result

GO
/****** Object:  UserDefinedFunction [dbo].[IsGuest]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[IsGuest] 
(
	@UserID uniqueidentifier
)
RETURNS table
AS
RETURN
	SELECT 
IIF(@UserID IS NULL OR @UserID = '00000000-0000-0000-0000-000000000000' OR @UserID = '4324d1ff-b698-44b6-bc2a-d96f42d2300b',1,0)
	AS Result


GO
/****** Object:  Table [dbo].[PlaceImage]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceImage](
	[PlaceImageID] [uniqueidentifier] NOT NULL,
	[PlaceID] [uniqueidentifier] NOT NULL,
	[ImageID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PlaceImage] PRIMARY KEY CLUSTERED 
(
	[PlaceImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[UserLoginID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Time] [datetime] NOT NULL,
	[LoginType] [nvarchar](50) NOT NULL,
	[CallerIp] [nvarchar](max) NULL,
	[CallerAgent] [nvarchar](max) NULL,
	[CalledUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[UserLoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Version]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[VersionHigh] [int] NOT NULL,
	[VersionLow] [int] NOT NULL,
	[Created] [datetime] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Image] ([ImageID], [FileName], [IsPublic], [Lat], [Lng], [Description], [Created]) VALUES (N'8e1491e0-ff35-413b-8cfc-00356f43d92f', N'79878940-87dc-405c-99ad-f45a6e312d80.JPG', 1, 42.49139, 44.56389, N'(EMPTY)', CAST(N'2016-05-20T16:20:36.113' AS DateTime))
GO
INSERT [dbo].[Image] ([ImageID], [FileName], [IsPublic], [Lat], [Lng], [Description], [Created]) VALUES (N'8811be5c-efda-4137-811e-004e3e8acc18', N'e9d79f64-8ca8-4e1b-a141-e82943f2c576.JPG', 1, 47.80181, 13.09469, N'(EMPTY)', CAST(N'2016-05-20T16:20:36.113' AS DateTime))
GO
INSERT [dbo].[Image] ([ImageID], [FileName], [IsPublic], [Lat], [Lng], [Description], [Created]) VALUES (N'9a67740b-384f-4037-b70f-00777fc13b95', N'45be2bed-f178-469f-993d-f1d8cd8e2e0b.JPG', 1, 59.915, 10.83611, N'(EMPTY)', CAST(N'2016-05-20T16:20:36.113' AS DateTime))
GO
INSERT [dbo].[ImageUser] ([ImageUserID], [ImageID], [UserID]) VALUES (N'18beef8a-9a61-484a-9842-0f6aab943416', N'5f0f58b9-4f26-489d-a02e-43ef51c9cff4', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886')
GO
INSERT [dbo].[ImageUser] ([ImageUserID], [ImageID], [UserID]) VALUES (N'24a6ea87-0f28-44b1-8fad-1189793aa12b', N'72e18c83-f926-432d-839f-9365d391d7a0', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886')
GO
INSERT [dbo].[ImageUser] ([ImageUserID], [ImageID], [UserID]) VALUES (N'de812146-ff7c-4f3c-85d8-1a803d53a33e', N'59190f21-b70c-4d8f-91e0-58cd1830bb0e', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886')
GO
INSERT [dbo].[PlaceType] ([PlaceTypeID], [Name]) VALUES (N'3cee69d8-6e34-48f4-8d0b-0009e2207943', N'museum')
GO
INSERT [dbo].[PlaceType] ([PlaceTypeID], [Name]) VALUES (N'37acbd12-5048-4055-9b36-002834b628c3', N'police')
GO
INSERT [dbo].[PlaceType] ([PlaceTypeID], [Name]) VALUES (N'c5b9d94c-b1c5-46d2-9b48-01fd8fa9fffb', N'grocery_or_supermarket')
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'5195a2d5-0b51-44c4-b672-7383482bc77a', N'admin')
GO
INSERT [dbo].[Track] ([TrackID], [FileName], [IsPublic], [Description], [Category], [ImageUrl], [Created], [CreatedBy], [Location]) VALUES (N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000', 0, N'New track 2015-10-24 19:43:53', N'Other', N'', CAST(N'2015-10-24T20:47:14.780' AS DateTime), N'', N'')
GO
INSERT [dbo].[Track] ([TrackID], [FileName], [IsPublic], [Description], [Category], [ImageUrl], [Created], [CreatedBy], [Location]) VALUES (N'655464e2-cccc-40a5-b29b-01b462228e3a', N'Deutschland-BadWörishofen-Hahntennjoch-Ötz', 1, N'Deutschland-BadWörishofen-Hahntennjoch-Ötz', N'Germany', N'germany.jpg', CAST(N'2015-10-24T20:47:14.780' AS DateTime), N'', N'')
GO
INSERT [dbo].[Track] ([TrackID], [FileName], [IsPublic], [Description], [Category], [ImageUrl], [Created], [CreatedBy], [Location]) VALUES (N'5c964e2e-44a4-46b1-ba1e-0f4ec4487a17', N'2015-LvivKyiv', 1, N'2015-LvivKyiv', N'Ukraine', N'ukraine.jpg', CAST(N'2015-10-24T20:47:14.780' AS DateTime), N'', N'{"lat":49.821369,"lng":24.027658}')
GO
INSERT [dbo].[TrackLocalization] ([TrackLocalizationID], [TrackID], [Locale], [Description]) VALUES (N'54014778-4549-4026-bbe9-078920d6d09b', N'15f5ad22-344a-492e-a90b-bb9a80f05723', N'ua-UA', N'Драйландерпункт-Велосипедом-1')
GO
INSERT [dbo].[TrackLocalization] ([TrackLocalizationID], [TrackID], [Locale], [Description]) VALUES (N'66fc76a4-fe78-4b5a-a810-0e39d765bd0a', N'c3072912-da21-4530-8856-e448b9352a07', N'ua-UA', N'Чорнобиль')
GO
INSERT [dbo].[TrackLocalization] ([TrackLocalizationID], [TrackID], [Locale], [Description]) VALUES (N'a07529a1-12ce-4cdb-b263-12cd6eb72aa6', N'a933115d-fbc6-4bd1-b4e0-3fe4fbfec8a3', N'ua-UA', N'Ізраїль-Єрусалим-Хресна дорога')
GO
INSERT [dbo].[TrackUser] ([TrackUserID], [TrackID], [UserID]) VALUES (N'a618fe14-49cc-41d7-bdc6-16590c3dd5fa', N'53ff70b3-5e38-4073-9326-cb535fa640ac', N'b057798c-6167-485c-b0c1-a40704faaad7')
GO
INSERT [dbo].[TrackUser] ([TrackUserID], [TrackID], [UserID]) VALUES (N'28ebc136-5a26-49fd-88e0-1e6768c68a80', N'd1a28ad1-21ff-4c07-b1ff-507b32b0a258', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886')
GO
INSERT [dbo].[TrackUser] ([TrackUserID], [TrackID], [UserID]) VALUES (N'555d3776-e869-4856-a65a-3934f59cfbb0', N'00000000-0000-0000-0000-000000000000', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886')
GO
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [FacebookId], [Disabled]) VALUES (N'3d70c1c0-e191-4837-9fa7-3398c928efaf', N'Helen Tishchenko', N'2cdedf73-fac8-465e-ad18-68f8233a3a1b', N'889032304522286', 0)
GO
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [FacebookId], [Disabled]) VALUES (N'91097101-658d-44f9-a534-4484209c8179', N'b', N'b', NULL, 0)
GO
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [FacebookId], [Disabled]) VALUES (N'b057798c-6167-485c-b0c1-a40704faaad7', N'Oleksandr Turevskiy', N'5e91657c-1a5e-4719-b9fa-2e2f50176767', N'1152399981440766', 0)
GO
INSERT [dbo].[UserLocation] ([UserLocationID], [UserID], [Lat], [Lng], [Time]) VALUES (N'272fca6f-f785-4ce0-b9fe-0060753bef5e', N'b057798c-6167-485c-b0c1-a40704faaad7', 50.4501, 30.5234, CAST(N'2015-10-11T19:01:19.720' AS DateTime))
GO
INSERT [dbo].[UserLocation] ([UserLocationID], [UserID], [Lat], [Lng], [Time]) VALUES (N'e8fa3880-a66c-4f1c-a0a2-00b222718c65', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886', 50.4501, 30.5234, CAST(N'2015-10-10T20:04:59.737' AS DateTime))
GO
INSERT [dbo].[UserLocation] ([UserLocationID], [UserID], [Lat], [Lng], [Time]) VALUES (N'f7cffa41-c5cf-4514-a3b8-00deed565d21', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886', 50.4501, 30.5234, CAST(N'2015-10-14T14:27:05.633' AS DateTime))
GO
INSERT [dbo].[UserLogin] ([UserLoginID], [UserID], [Time], [LoginType], [CallerIp], [CallerAgent], [CalledUrl]) VALUES (N'f95c57b8-1a3c-4ab2-9c61-00a410ca80db', N'b057798c-6167-485c-b0c1-a40704faaad7', CAST(N'2016-05-06T18:53:20.337' AS DateTime), N'Facebook', N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36', N'http://local.seeyourtravel.com:80/login.aspx')
GO
INSERT [dbo].[UserLogin] ([UserLoginID], [UserID], [Time], [LoginType], [CallerIp], [CallerAgent], [CalledUrl]) VALUES (N'5cc9fdc2-60e4-4813-ae35-019be31132ea', N'3d70c1c0-e191-4837-9fa7-3398c928efaf', CAST(N'2015-10-11T19:26:45.153' AS DateTime), N'Facebook', N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:40.0) Gecko/20100101 Firefox/40.0', N'http://local.seeyourtravel.com:80/login.aspx')
GO
INSERT [dbo].[UserLogin] ([UserLoginID], [UserID], [Time], [LoginType], [CallerIp], [CallerAgent], [CalledUrl]) VALUES (N'0cca6241-eee2-4ace-b7f1-0776fbb07a03', N'3d70c1c0-e191-4837-9fa7-3398c928efaf', CAST(N'2015-10-25T17:44:47.370' AS DateTime), N'Facebook', N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:41.0) Gecko/20100101 Firefox/41.0', N'http://local.seeyourtravel.com:80/login.aspx')
GO
INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID]) VALUES (N'087a788e-7245-45c2-a369-2d8cf02ce5dc', N'c9f148f7-923a-46b0-8b7c-bd4b54d90886', N'5195a2d5-0b51-44c4-b672-7383482bc77a')
GO
INSERT [dbo].[Version] ([VersionHigh], [VersionLow], [Created]) VALUES (1, 1, CAST(N'2015-10-25T18:58:52.250' AS DateTime))
GO
ALTER TABLE [dbo].[Image] ADD  CONSTRAINT [DF_Image_ImageId]  DEFAULT (newid()) FOR [ImageID]
GO
ALTER TABLE [dbo].[Image] ADD  CONSTRAINT [DF_Image_IsPublic]  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Image] ADD  CONSTRAINT [DF_Image_Description]  DEFAULT ('(EMPTY)') FOR [Description]
GO
ALTER TABLE [dbo].[Image] ADD  CONSTRAINT [DF_Image_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[ImageUser] ADD  CONSTRAINT [DF_ImageUser_ImageUserID]  DEFAULT (newid()) FOR [ImageUserID]
GO
ALTER TABLE [dbo].[Place] ADD  CONSTRAINT [DF_Place_PlaceID]  DEFAULT (newid()) FOR [PlaceID]
GO
ALTER TABLE [dbo].[Place] ADD  CONSTRAINT [DF_Place_Vicinity]  DEFAULT ('') FOR [Vicinity]
GO
ALTER TABLE [dbo].[Place] ADD  CONSTRAINT [DF_Place_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Place] ADD  CONSTRAINT [DF_Place_IsPublic]  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Place] ADD  CONSTRAINT [DF_Place_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[PlaceImage] ADD  CONSTRAINT [DF_PlaceImage_PlaceImageID]  DEFAULT (newid()) FOR [PlaceImageID]
GO
ALTER TABLE [dbo].[PlaceType] ADD  CONSTRAINT [DF_PlaceType_PlaceTypeID]  DEFAULT (newid()) FOR [PlaceTypeID]
GO
ALTER TABLE [dbo].[PlaceTypePlace] ADD  CONSTRAINT [DF_PlaceTypePlace_PlaceTypePlaceID]  DEFAULT (newid()) FOR [PlaceTypePlaceID]
GO
ALTER TABLE [dbo].[PlaceUser] ADD  CONSTRAINT [DF_PlaceUser_PlaceUserID]  DEFAULT (newid()) FOR [PlaceUserID]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_RoleID]  DEFAULT (newid()) FOR [RoleID]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_TrackID]  DEFAULT (newid()) FOR [TrackID]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_IsPublic]  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_Description]  DEFAULT ('(EMPTY)') FOR [Description]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_Category]  DEFAULT ('') FOR [Category]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_ImageUrl]  DEFAULT ('') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_CreatedBy]  DEFAULT ('') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_Location]  DEFAULT ('') FOR [Location]
GO
ALTER TABLE [dbo].[TrackLocalization] ADD  CONSTRAINT [DF_TrackLocalization_TrackLocalizationID]  DEFAULT (newid()) FOR [TrackLocalizationID]
GO
ALTER TABLE [dbo].[TrackUser] ADD  CONSTRAINT [DF_TrackUser_TrackUserID]  DEFAULT (newid()) FOR [TrackUserID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UserID]  DEFAULT (newid()) FOR [UserID]
GO
ALTER TABLE [dbo].[UserLocation] ADD  CONSTRAINT [DF_UserLocation_UserLocationID]  DEFAULT (newid()) FOR [UserLocationID]
GO
ALTER TABLE [dbo].[UserLocation] ADD  CONSTRAINT [DF_UserLocation_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[UserLogin] ADD  CONSTRAINT [DF_UserLogin_UserLoginID]  DEFAULT (newid()) FOR [UserLoginID]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_UserRoleID]  DEFAULT (newid()) FOR [UserRoleID]
GO
ALTER TABLE [dbo].[Version] ADD  CONSTRAINT [DF_Version_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[ImageUser]  WITH CHECK ADD  CONSTRAINT [FK_ImageUser_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ImageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageUser] CHECK CONSTRAINT [FK_ImageUser_Image]
GO
ALTER TABLE [dbo].[ImageUser]  WITH CHECK ADD  CONSTRAINT [FK_ImageUser_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageUser] CHECK CONSTRAINT [FK_ImageUser_User]
GO
ALTER TABLE [dbo].[PlaceImage]  WITH CHECK ADD  CONSTRAINT [FK_PlaceImage_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ImageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceImage] CHECK CONSTRAINT [FK_PlaceImage_Image]
GO
ALTER TABLE [dbo].[PlaceImage]  WITH CHECK ADD  CONSTRAINT [FK_PlaceImage_Place] FOREIGN KEY([PlaceID])
REFERENCES [dbo].[Place] ([PlaceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceImage] CHECK CONSTRAINT [FK_PlaceImage_Place]
GO
ALTER TABLE [dbo].[PlaceTypePlace]  WITH CHECK ADD  CONSTRAINT [FK_PlaceTypePlace_Place] FOREIGN KEY([PlaceID])
REFERENCES [dbo].[Place] ([PlaceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceTypePlace] CHECK CONSTRAINT [FK_PlaceTypePlace_Place]
GO
ALTER TABLE [dbo].[PlaceTypePlace]  WITH CHECK ADD  CONSTRAINT [FK_PlaceTypePlace_PlaceType] FOREIGN KEY([PlaceTypeID])
REFERENCES [dbo].[PlaceType] ([PlaceTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceTypePlace] CHECK CONSTRAINT [FK_PlaceTypePlace_PlaceType]
GO
ALTER TABLE [dbo].[PlaceUser]  WITH CHECK ADD  CONSTRAINT [FK_PlaceUser_Place] FOREIGN KEY([PlaceID])
REFERENCES [dbo].[Place] ([PlaceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceUser] CHECK CONSTRAINT [FK_PlaceUser_Place]
GO
ALTER TABLE [dbo].[PlaceUser]  WITH CHECK ADD  CONSTRAINT [FK_PlaceUser_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaceUser] CHECK CONSTRAINT [FK_PlaceUser_User]
GO
ALTER TABLE [dbo].[TrackUser]  WITH CHECK ADD  CONSTRAINT [FK_TrackUser_Track] FOREIGN KEY([TrackID])
REFERENCES [dbo].[Track] ([TrackID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrackUser] CHECK CONSTRAINT [FK_TrackUser_Track]
GO
ALTER TABLE [dbo].[TrackUser]  WITH CHECK ADD  CONSTRAINT [FK_TrackUser_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrackUser] CHECK CONSTRAINT [FK_TrackUser_User]
GO
ALTER TABLE [dbo].[UserLocation]  WITH CHECK ADD  CONSTRAINT [FK_UserLocation_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserLocation] CHECK CONSTRAINT [FK_UserLocation_User]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_User]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
/****** Object:  StoredProcedure [dbo].[GetFriendsLocations]    Script Date: 9/16/2016 6:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetFriendsLocations] 
	@UserID uniqueidentifier 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select u.UserID, u.UserName, ul.Lat, ul.Lng, ul.[Time] from UserLocation ul
	inner join [User] u on ul.UserID = u.UserID
	where ul.Time = 
	(select max(ul2.[Time]) from UserLocation ul2 where ul2.UserID = ul.UserID )
END





GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ul"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "u"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 136
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetAllRoughUserLocations'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetAllRoughUserLocations'
GO
USE [master]
GO
