        #map {
            height: 400px;
        }
        .photo {
            height: 200px;
        }
        .nullphoto {
            height: 1px;
            width: 1px;
        }
.visible {
  visibility: visible;
  opacity: 1;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
@font-face {
  font-family: 'seeyourtravel';
  src: url('traveldiaryfeb26.ttf');
}
body { font-family: 'seeyourtravel', 'Georgia', serif; }