<configuration>
  <system.web>
        <customErrors mode="Off"/>
    	<compilation debug="true"/>
    </system.web>
 <system.webServer>
   <staticContent>
     <mimeMap fileExtension=".gpx" mimeType="application/octet-stream" />
     <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
   </staticContent>
 </system.webServer>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>